@page "/accounting/payroll/history"

@using Brizbee.Dashboard.Server.Services
@using Core.Models
@using Microsoft.EntityFrameworkCore
@using Brizbee.Core.Models.Accounting

@inject SharedService SharedService
@inject IDbContextFactory<PrimaryContext> DbFactory

@implements IDisposable

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <NavLink class="navbar-brand" href="kiosk/status">
                <img alt="BRIZBEE Logo" src="/icon-32x32.png">
            </NavLink>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <NavLink class="nav-link" href="kiosk/status">
                        <i class="far fa-id-badge fa-padded" aria-hidden="true"></i> Kiosk
                    </NavLink>
                </li>
                @if (_currentUser!.CanViewPunches || _currentUser.CanViewTimecards || _currentUser.CanViewRates || _currentUser.CanViewLocks)
                {
                    <li>
                        <NavLink class="nav-link" href="punches">
                            <i class="far fa-clock fa-padded" aria-hidden="true"></i> Time
                        </NavLink>
                    </li>
                }
                @if (_currentUser.CanViewCustomers || _currentUser.CanViewProjects || _currentUser.CanViewTasks)
                {
                    <li>
                        <NavLink class="nav-link" href="customers">
                            <i class="fas fa-truck fa-padded" aria-hidden="true"></i> Projects and Customers
                        </NavLink>
                    </li>
                }
                @if (_currentUser.CanViewInventoryConsumptions || _currentUser.CanViewInventoryItems)
                {
                    <li>
                        <NavLink class="nav-link" href="inventory/consumption">
                            <i class="fas fa-boxes fa-padded" aria-hidden="true"></i> Inventory <span class="sr-only">(current)</span>
                        </NavLink>
                    </li>
                }
                @if (_currentUser.CanViewReports)
                {
                    <li>
                        <NavLink class="nav-link" href="reports">
                            <i class="fas fa-chart-line fa-padded" aria-hidden="true"></i> Reports
                        </NavLink>
                    </li>
                }
                @if (_currentUser.CanViewUsers)
                {
                    <li>
                        <NavLink class="nav-link" href="users">
                            <i class="fas fa-users fa-padded" aria-hidden="true"></i> Users
                        </NavLink>
                    </li>
                }
                <li class="active">
                    <NavLink class="nav-link" href="accounting/start">
                        <i class="fas fa-scale-unbalanced fa-padded" aria-hidden="true"></i> Books
                    </NavLink>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-phone"><a href="tel:1-888-930-3044">Punch In or Out @@ 1-888-930-3044</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@_currentUser.Name <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="nav-link" href="user-details">
                                Account Details
                            </NavLink>
                        </li>
                        @if (_currentUser.CanViewOrganizationDetails)
                        {
                            <li role="separator" class="divider"></li>
                            <li>
                                <NavLink class="nav-link" href="organization-details">
                                    Organization Settings
                                </NavLink>
                            </li>
                        }
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" @onclick="SignOutClicked">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid fadeIn">
    <ul class="nav nav-pills">
        <li role="presentation"><NavLink href="accounting/start">Start</NavLink></li>
        <li role="presentation"><NavLink href="accounting/chart-of-accounts">Chart of Accounts</NavLink></li>
    </ul>

    <hr />

    <!--Toolbar-->
    <div class="row row-toolbar">
        <div class="col-md-6">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary" @onclick="@(_ => RefreshPaychecks())"><i class="fas fa-sync-alt" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <a href="javascript:void(0)" @onclick="@(_ => ChangeSortBy("PAYCHECKS/NUMBER"))">
                        Check Number
                        @switch (_sortBy)
                        {
                            case "PAYCHECKS/NUMBER" when _sortDirection == "ASC":
                                <span class="fa fa-caret-up"></span>
                                break;
                            case "PAYCHECKS/NUMBER" when _sortDirection == "DESC":
                                <span class="fa fa-caret-down"></span>
                                break;
                        }
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)" @onclick="@(_ => ChangeSortBy("PAYCHECKS/ENTERED_ON"))">
                        Date
                        @switch (_sortBy)
                        {
                            case "PAYCHECKS/ENTERED_ON" when _sortDirection == "ASC":
                                <span class="fa fa-caret-up"></span>
                                break;
                            case "PAYCHECKS/ENTERED_ON" when _sortDirection == "DESC":
                                <span class="fa fa-caret-down"></span>
                                break;
                        }
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)" @onclick="@(_ => ChangeSortBy("PAYCHECKS/GROSS_AMOUNT"))">
                        Gross Amount
                        @switch (_sortBy)
                        {
                            case "PAYCHECKS/GROSS_AMOUNT" when _sortDirection == "ASC":
                                <span class="fa fa-caret-up"></span>
                                break;
                            case "PAYCHECKS/GROSS_AMOUNT" when _sortDirection == "DESC":
                                <span class="fa fa-caret-down"></span>
                                break;
                        }
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)" @onclick="@(_ => ChangeSortBy("PAYCHECKS/NET_AMOUNT"))">
                        Net Amount
                        @switch (_sortBy)
                        {
                            case "PAYCHECKS/NET_AMOUNT" when _sortDirection == "ASC":
                                <span class="fa fa-caret-up"></span>
                                break;
                            case "PAYCHECKS/NET_AMOUNT" when _sortDirection == "DESC":
                                <span class="fa fa-caret-down"></span>
                                break;
                        }
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)" @onclick="@(_ => ChangeSortBy("PAYCHECKS/USER/NAME"))">
                        Name
                        @switch (_sortBy)
                        {
                            case "PAYCHECKS/USER/NAME" when _sortDirection == "ASC":
                                <span class="fa fa-caret-up"></span>
                                break;
                            case "PAYCHECKS/USER/NAME" when _sortDirection == "DESC":
                                <span class="fa fa-caret-down"></span>
                                break;
                        }
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var paycheck in _paychecks)
            {
                <tr class="fadeIn selectable">
                    <td><a href="javascript:void(0)">@paycheck.Number</a></td>
                    <td><a href="javascript:void(0)">@paycheck.EnteredOn.ToShortDateString()</a></td>
                    <td><a href="javascript:void(0)">@paycheck.GrossAmount.ToString("C")</a></td>
                    <td><a href="javascript:void(0)">@paycheck.NetAmount.ToString("C")</a></td>
                    <td><a href="javascript:void(0)">@paycheck.User!.Name</a></td>
                </tr>
            }
            @if (_working)
            {
                <tr class="fadeIn">
                    <td colspan="5"><i class="fa fa-spinner fa-spin fa-fw"></i></td>
                </tr>
            }
            @if (!_working && _paychecks.Count == 0)
            {
                <tr class="fadeIn">
                    <td colspan="5">No paychecks have been created.</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            @if (_paychecksCount > PageSize)
            {
                <div class="pull-left" style="margin-right: 1rem;">
                    <button class="btn btn-sm btn-secondary pull-left" @onclick="PreviousPage"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                    <button class="btn btn-sm btn-secondary pull-left" @onclick="NextPage"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            }

            @if (_paychecksCount > 0 && !_working)
            {
                <p class="form-control-static pull-left">@(_paychecksPageStart + 1) to @(_paychecksPageStart + PageSize < _paychecksCount ? _paychecksPageStart + PageSize : _paychecksCount) of @_paychecksCount</p>
            }
        </div>
    </div>

</div>

@code {
    [CascadingParameter]
    public EventCallback SignOutClicked { get; set; }

    private User? _currentUser;

    private bool _working;

    private PrimaryContext? _context;
    
    private List<Paycheck> _paychecks = new();

    private string _sortBy = "PAYCHECKS/NUMBER";

    private string _sortDirection = "ASC";

    private const int PageSize = 1000;

    private int _skip;

    private long _paychecksCount;

    private int _paychecksPageStart;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        // Subscribe to the events
        SharedService.OnChange += StateHasChanged;

        _currentUser = SharedService.CurrentUser;

        _context = await DbFactory.CreateDbContextAsync();

        await RefreshPaychecks();
    }

    public void Dispose()
    {
        // Unsubscribe to the events
        SharedService.OnChange -= StateHasChanged;

        _context?.Dispose();
    }

    private async void NextPage(MouseEventArgs e)
    {
        _paychecksPageStart = _paychecksPageStart + PageSize;
        _skip = _paychecksPageStart;
        await RefreshPaychecks();
    }

    private async void PreviousPage(MouseEventArgs e)
    {
        _paychecksPageStart = _paychecksPageStart - PageSize;
        _skip = _paychecksPageStart;
        await RefreshPaychecks();
    }

    private async System.Threading.Tasks.Task RefreshPaychecks()
    {
        _working = true;
        _paychecks.Clear();

        var count = await _context!.Paychecks!
            .Where(pc => pc.OrganizationId == _currentUser!.OrganizationId)
            .CountAsync();

        var paychecks = await _context!.Paychecks!
            .Include(pc => pc.User)
            .Where(pc => pc.OrganizationId == _currentUser!.OrganizationId)
            .Skip(_skip)
            .Take(PageSize)
            .ToListAsync();

        _paychecks = paychecks;
        _paychecksCount = count;
        _working = false;
        StateHasChanged();
    }

    private async void ChangeSortBy(string column)
    {
        _sortBy = column;

        _sortDirection = _sortDirection == "ASC" ? "DESC" : "ASC";

        await RefreshPaychecks();
    }
}
