@page "/accounting/chart-of-accounts"

@using Brizbee.Core.Models.Accounting
@using Brizbee.Dashboard.Services
@using Brizbee.Dashboard.Models

@inject SharedService sharedService
@inject AccountService accountService
@inject DialogService dialogService

@implements IDisposable

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <NavLink class="navbar-brand" href="kiosk/status">
                <img alt="BRIZBEE Logo" src="/icon-32x32.png">
            </NavLink>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <NavLink class="nav-link" href="kiosk/status">
                        <i class="far fa-id-badge fa-padded" aria-hidden="true"></i> Kiosk
                    </NavLink>
                </li>
                @if (currentUser.CanViewPunches || currentUser.CanViewTimecards || currentUser.CanViewRates || currentUser.CanViewLocks)
                {
                        <li>
                            <NavLink class="nav-link" href="punches">
                                <i class="far fa-clock fa-padded" aria-hidden="true"></i> Time
                            </NavLink>
                        </li>
                }
                @if (currentUser.CanViewCustomers || currentUser.CanViewProjects || currentUser.CanViewTasks)
                {
                        <li>
                            <NavLink class="nav-link" href="customers">
                                <i class="fas fa-truck fa-padded" aria-hidden="true"></i> Projects and Customers
                            </NavLink>
                        </li>
                }
                @if (currentUser.CanViewInventoryConsumptions || currentUser.CanViewInventoryItems)
                {
                        <li>
                            <NavLink class="nav-link" href="inventory/consumption">
                                <i class="fas fa-boxes fa-padded" aria-hidden="true"></i> Inventory <span class="sr-only">(current)</span>
                            </NavLink>
                        </li>
                }
                <li class="active">
                    <NavLink class="nav-link" href="accounting/payroll/paycheck">
                        <i class="fas fa-scale-unbalanced fa-padded" aria-hidden="true"></i> Accounting
                    </NavLink>
                </li>
                @if (currentUser.CanViewReports)
                {
                        <li>
                            <NavLink class="nav-link" href="reports">
                                <i class="fas fa-chart-line fa-padded" aria-hidden="true"></i> Reports
                            </NavLink>
                        </li>
                }
                @if (currentUser.CanViewUsers)
                {
                        <li>
                            <NavLink class="nav-link" href="users">
                                <i class="fas fa-users fa-padded" aria-hidden="true"></i> Users
                            </NavLink>
                        </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-phone"><a href="tel:1-888-930-3044">Punch In or Out @@ 1-888-930-3044</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@currentUser.Name <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="nav-link" href="user-details">
                                Account Details
                            </NavLink>
                        </li>
                        @if (currentUser.CanViewOrganizationDetails)
                        {
                                <li role="separator" class="divider"></li>
                                <li>
                                    <NavLink class="nav-link" href="organization-details">
                                        Organization Settings
                                    </NavLink>
                                </li>
                        }
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" @onclick="SignOutClicked">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid fadeIn">
    <ul class="nav nav-pills">
        <li role="presentation"><NavLink href="accounting/invoices">Invoices</NavLink></li>
        <li role="presentation"><NavLink href="inventory/consumption-syncs">Receive Payments</NavLink></li>
        <li role="presentation"><NavLink href="inventory/items">Deposits</NavLink></li>
        <li role="presentation"><NavLink href="inventory/item-syncs">Vendors</NavLink></li>
        <li role="presentation"><NavLink href="inventory/item-syncs">Bills</NavLink></li>
        <li role="presentation"><NavLink href="inventory/item-syncs">Payroll</NavLink></li>
        <li role="presentation" class="active"><NavLink href="accounting/chart-of-accounts">Chart of Accounts</NavLink></li>
    </ul>

    <hr />

    <!--Toolbar-->
    <div class="row row-toolbar">
        <div class="col-md-6">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" @onclick="@(e => RefreshAccounts())"><i class="fas fa-sync-alt" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!--List of Accounts-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <a href="javascript:void(0)" @onclick="@(e => ChangeSortBy("ACCOUNTS/NUMBER"))">
                        Name
                        @if (sortBy == "ACCOUNTS/NUMBER" && sortDirection == "ASC")
                        {
                            <span class="fa fa-caret-up"></span>
                        }
                        else if (sortBy == "ACCOUNTS/NUMBER" && sortDirection == "DESC")
                        {
                            <span class="fa fa-caret-down"></span>
                        }
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)" @onclick="@(e => ChangeSortBy("ACCOUNTS/NAME"))">
                        Name
                        @if (sortBy == "ACCOUNTS/NAME" && sortDirection == "ASC")
                        {
                            <span class="fa fa-caret-up"></span>
                        }
                        else if (sortBy == "ACCOUNTS/NAME" && sortDirection == "DESC")
                        {
                            <span class="fa fa-caret-down"></span>
                        }
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)" @onclick="@(e => ChangeSortBy("ACCOUNTS/TYPE"))">
                        Name
                        @if (sortBy == "ACCOUNTS/TYPE" && sortDirection == "ASC")
                        {
                            <span class="fa fa-caret-up"></span>
                        }
                        else if (sortBy == "ACCOUNTS/TYPE" && sortDirection == "DESC")
                        {
                            <span class="fa fa-caret-down"></span>
                        }
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in accounts)
            {
                <tr class="fadeIn selectable" @onclick="@(e => OpenModifyAccountDialog(account))">
                    <td><a href="javascript:void(0)">@account.Number</a></td>
                    <td><a href="javascript:void(0)">@account.Name</a></td>
                    <td><a href="javascript:void(0)">@account.Type</a></td>
                </tr>
            }
            @if (working)
            {
                <tr class="fadeIn">
                    <td colspan="3"><i class="fa fa-spinner fa-spin fa-fw"></i></td>
                </tr>
            }
            @if (!working && accounts.Count == 0)
            {
                <tr class="fadeIn">
                    <td colspan="3">No accounts have been added.</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            @if (accountsCount > pageSize)
            {
                <div class="pull-left" style="margin-right: 1rem;">
                    <button class="btn btn-sm btn-default pull-left" @onclick="PreviousPage"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                    <button class="btn btn-sm btn-default pull-left" @onclick="NextPage"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            }

            @if (accountsCount > 0 && !working)
            {
                <p class="form-control-static pull-left">@(accountsPageStart + 1) to @(accountsPageStart + pageSize < accountsCount ? accountsPageStart + pageSize : accountsCount) of @accountsCount</p>
            }
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public EventCallback SignOutClicked { get; set; }

    private bool working = false;
    private User currentUser;
    private List<Account> accounts = new List<Account>();
    private string sortBy = "ACCOUNTS/NUMBER";
    private string sortDirection = "ASC";
    private int pageSize = 100;
    private int skip = 0;
    private long accountsCount = 0;
    private int accountsPageStart = 0;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        // Subscribe to the events
        sharedService.OnChange += StateHasChanged;

        currentUser = sharedService.CurrentUser;

        await RefreshAccounts();

        dialogService.OnClose += Close;
    }

    void IDisposable.Dispose()
    {
        // Unsubscribe to the events
        sharedService.OnChange -= StateHasChanged;

        dialogService.OnClose -= Close;
    }

    private async void NextPage(MouseEventArgs e)
    {
        accountsPageStart = accountsPageStart + pageSize;
        skip = accountsPageStart;
        await RefreshAccounts();
    }

    private async void PreviousPage(MouseEventArgs e)
    {
        accountsPageStart = accountsPageStart - pageSize;
        skip = accountsPageStart;
        await RefreshAccounts();
    }

    private async void Close(dynamic result)
    {
        if ((result as string) == "account.updated")
        {
            await RefreshAccounts();
        }
    }

    private async System.Threading.Tasks.Task RefreshAccounts()
    {
        working = true;
        accounts.Clear();
        var result = await accountService.GetAccountsAsync(pageSize, skip, sortBy, sortDirection);
        accounts = result.Item1;
        accountsCount = result.Item2.GetValueOrDefault();
        working = false;
        StateHasChanged();
    }

    private async void ChangeSortBy(string column)
    {
        sortBy = column;

        if (sortDirection == "ASC")
        {
            sortDirection = "DESC";
        }
        else
        {
            sortDirection = "ASC";
        }

        await RefreshAccounts();
    }

    private void OpenModifyAccountDialog(Account account)
    {
        dialogService.Open<InventoryItemDialog>("Edit Account",
                                new Dictionary<string, object>() { { "Id", account.Id } },
                                new DialogOptions() { Width = "600px" });
    }
}
