@page "/alerts"

@using Brizbee.Dashboard.Services
@using Brizbee.Common.Models
@using Brizbee.Common.Serialization.Alerts

@inject NavigationManager NavigationManager
@inject LocalStorageService localStorageService
@inject SharedService sharedService
@inject OrganizationService organizationService
@inject DialogService dialogService

@implements IDisposable

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <NavLink class="navbar-brand" href="kiosk/status">
                <img alt="BRIZBEE Logo" src="/icon-32x32.png">
            </NavLink>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <NavLink class="nav-link" href="kiosk/status">
                        <i class="far fa-id-badge fa-padded" aria-hidden="true"></i> Kiosk
                    </NavLink>
                </li>
                @if (currentUser.Role == "Administrator")
                {
                    <li class="active">
                        <NavLink class="nav-link" href="punches">
                            <i class="far fa-clock fa-padded" aria-hidden="true"></i> Time <span class="sr-only">(current)</span>
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="customers">
                            <i class="fas fa-truck fa-padded" aria-hidden="true"></i> Projects and Customers
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="inventory/consumption">
                            <i class="fas fa-boxes fa-padded" aria-hidden="true"></i> Inventory
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="reports">
                            <i class="fas fa-chart-line fa-padded" aria-hidden="true"></i> Reports
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="users">
                            <i class="fas fa-users fa-padded" aria-hidden="true"></i> Users
                        </NavLink>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-phone"><a href="tel:1-888-930-3044">Punch In or Out @@ 1-888-930-3044</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@currentUser.Name <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="nav-link" href="user-details">
                                Account Details
                            </NavLink>
                        </li>
                        @if (currentUser.Role == "Administrator")
                        {
                            <li role="separator" class="divider"></li>
                            <li>
                                <NavLink class="nav-link" href="organization-details">
                                    Organization Settings
                                </NavLink>
                            </li>
                        }
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" @onclick="SignOutClicked">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid fadeIn">
    <ul class="nav nav-pills">
        <li role="presentation"><NavLink href="punches">Punches</NavLink></li>
        <li role="presentation"><NavLink href="timecards">Time Cards</NavLink></li>
        <li role="presentation"><NavLink href="locks">Locks</NavLink></li>
        <li role="presentation"><NavLink href="exports">Export History</NavLink></li>
        <li role="presentation"><NavLink href="rates">Rates</NavLink></li>
        <li role="presentation" class="active"><NavLink href="alerts">Alerts</NavLink></li>
    </ul>

    <hr />

    <!--Toolbar-->
    <div class="row row-toolbar">
        <div class="col-md-6">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" @onclick="@(e => RefreshAlerts())"><i class="fas fa-sync-alt" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <!--List of Punch Exceeded Alerts-->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Exceeded 10 hours in a day
                </div>
                <div class="panel-body">
                    @if (working)
                    {
                        <i class="fa fa-spinner fa-spin fa-fw"></i>
                    }
                    else
                    {
                        <ul class="list-unstyled">
                            @foreach (var alert in alerts.Where(a => a.Type == "punch.exceeded"))
                            {
                                <li style="padding-bottom: 2em; font-size: 1.5em;">@alert.User.Name was punched in for @(Math.Round(alert.Value / 60d, 2)) hours</li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>

        <!--List of Total Exceeded Alerts-->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Approaching 40 hours
                </div>
                <div class="panel-body">
                    @if (working)
                    {
                        <i class="fa fa-spinner fa-spin fa-fw"></i>
                    }
                    else
                    {
                        <ul class="list-unstyled">
                            @foreach (var alert in alerts.Where(a => a.Type == "total.exceeded"))
                            {
                                <li style="padding-bottom: 2em; font-size: 1.5em;">@alert.User.Name is at @(Math.Round(alert.Value / 60d, 2)) hours this week</li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public EventCallback SignOutClicked { get; set; }

    private bool working = false;
    private User currentUser;
    private List<Alert> alerts = new List<Alert>();

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        // Subscribe to the events
        sharedService.OnChange += StateHasChanged;

        currentUser = sharedService.CurrentUser;

        await RefreshAlerts();
    }

    public void Dispose()
    {
        // Unsubscribe to the events
        sharedService.OnChange -= StateHasChanged;
    }

    private async System.Threading.Tasks.Task RefreshAlerts()
    {
        working = true;
        StateHasChanged();

        alerts = await organizationService.GetAlerts(currentUser.OrganizationId);

        working = false;
        StateHasChanged();
    }
}