@page "/dialogs/task"

@using Brizbee.Dashboard.Services
@using Brizbee.Common.Models

@inject DialogService dialogService
@inject TaskService taskService
@inject SharedService sharedService

<EditForm Model="@task" OnValidSubmit="SaveTask" class="form-horizontal" autocomplete="off">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="task_number" class="col-sm-3 control-label">Number</label>
        <div class="col-sm-9">
            <InputText class="form-control" id="task_number" @bind-Value="task.Number" disabled="@(working || loading)" />
        </div>
    </div>

    <div class="form-group">
        <label for="task_name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <InputText class="form-control" id="task_name" @bind-Value="task.Name" disabled="@(working || loading)" />
        </div>
    </div>

    <hr />

    <div class="form-group">
        <label for="task_base_payroll_rate_id" class="col-sm-3 control-label">Base Payroll Rate</label>
        <div class="col-sm-9">
            @if (task.BasePayrollRate != null)
            {
                <p class="form-control-static">@task.BasePayrollRate.Name</p>
            }
            else
            {
                <p class="form-control-static">Unspecified</p>
            }
        </div>
    </div>

    <div class="form-group">
        <label for="task_base_service_rate_id" class="col-sm-3 control-label">Base Service Rate</label>
        <div class="col-sm-9">
            @if (task.BaseServiceRate != null)
            {
                <p class="form-control-static">@task.BaseServiceRate.Name</p>
            }
            else
            {
                <p class="form-control-static">Unspecified</p>
            }
        </div>
    </div>

    <hr />

    <div class="form-group">
        <label for="task_group" class="col-sm-3 control-label">Bar Code Group</label>
        <div class="col-sm-9">
            <InputSelect id="task_group" @bind-Value="task.Group" class="form-control" disabled="@(working || loading)">
                <option value="Unspecified">Unspecified</option>
                @foreach (var group in groups)
                {
                    <option value="@group">@group</option>
                }
            </InputSelect>
        </div>
    </div>

    <hr />

    @if (task.Id != 0)
    {
        <button class="btn btn-danger" type="button" @onclick="DeleteTask" disabled="@(working || loading)">Delete</button>
    }
    <i class="@((working || loading) ? "fa fa-spinner fa-spin fa-fw" : "hidden")"></i>
    <button class="btn btn-default pull-right" type="button" @onclick="CloseDialog" disabled="@(working)" style="margin-left: 2px;">Cancel</button>
    <button class="btn btn-primary pull-right" type="submit" disabled="@(working || loading)" style="margin-left: 2px;">OK</button>
</EditForm>

@code {
    [Parameter] public int? Id { get; set; }
    [Parameter] public int? ProjectId { get; set; }

    private bool working = false;
    private bool loading = true;
    private Brizbee.Common.Models.Task task = new Brizbee.Common.Models.Task();
    private string[] groups = new string[] { };

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        // --------------------------------------------------------------------
        // Load the task groups from the organization.
        // --------------------------------------------------------------------

        groups = sharedService.CurrentUser.Organization.Groups.Split(",");


        // --------------------------------------------------------------------
        // Attempt to load the task, if necessary.
        // --------------------------------------------------------------------

        if (Id.HasValue)
        {
            task = await taskService.GetTaskByIdAsync(Id.Value);
        }
        else
        {
            task.Number = await taskService.GetNextNumberAsync();
        }

        loading = false;
    }

    private async System.Threading.Tasks.Task SaveTask()
    {
        // Confirm that the user wants to make the change.
        var confirm = await dialogService.Confirm(
            "Are you sure you want to save this task?",
            "Confirm",
            new ConfirmOptions() { Width = "600px", CancelButtonText = "Cancel", OkButtonText = "OK" });
        if (confirm != true)
            return;

        working = true;
        StateHasChanged();

        // Set the project id.
        task.JobId = ProjectId.Value;

        // Save the task on the server and close the dialog.
        await taskService.SaveTaskAsync(task);
        dialogService.Close("task.created");
    }

    private async System.Threading.Tasks.Task DeleteTask()
    {
        // Confirm that the user wants to make the change.
        var confirm = await dialogService.Confirm(
            "Are you sure you want to delete this task?",
            "Confirm",
            new ConfirmOptions() { Width = "600px", CancelButtonText = "Cancel", OkButtonText = "OK" });
        if (confirm != true)
            return;

        working = true;
        StateHasChanged();

        // Delete the task on the server and close the dialog.
        var result = await taskService.DeleteTaskAsync(task.Id);
        if (result)
            dialogService.Close("task.deleted");
        else
            working = false;
    }

    private void CloseDialog(MouseEventArgs e)
    {
        dialogService.Close(false);
    }
}
