@page "/inventory/items"

@using Brizbee.Dashboard.Services
@using Brizbee.Common.Models

@inject NavigationManager NavigationManager
@inject LocalStorageService localStorageService
@inject SharedService sharedService
@inject UserService userService
@inject CommitService commitService
@inject PunchService punchService
@inject RateService rateService
@inject QBDInventoryItemService qbdInventoryItemService
@inject DialogService dialogService

@implements IDisposable

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <NavLink class="navbar-brand" href="kiosk/status">
                <img alt="BRIZBEE Logo" src="/icon-32x32.png">
            </NavLink>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <NavLink class="nav-link" href="kiosk/status">
                        <i class="far fa-id-badge fa-padded" aria-hidden="true"></i> Kiosk
                    </NavLink>
                </li>
                @if (currentUser.Role == "Administrator")
                {
                    <li>
                        <NavLink class="nav-link" href="punches">
                            <i class="far fa-clock fa-padded" aria-hidden="true"></i> Time
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="customers">
                            <i class="fas fa-truck fa-padded" aria-hidden="true"></i> Projects and Customers
                        </NavLink>
                    </li>
                    <li class="active">
                        <NavLink class="nav-link" href="inventory/consumption">
                            <i class="fas fa-boxes fa-padded" aria-hidden="true"></i> Inventory <span class="sr-only">(current)</span>
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="reports">
                            <i class="fas fa-chart-line fa-padded" aria-hidden="true"></i> Reports
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="users">
                            <i class="fas fa-users fa-padded" aria-hidden="true"></i> Users
                        </NavLink>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-phone"><a href="tel:1-888-930-3044">Punch In or Out @@ 1-888-930-3044</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@currentUser.Name <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="nav-link" href="user-details">
                                Account Details
                            </NavLink>
                        </li>
                        @if (currentUser.Role == "Administrator")
                        {
                            <li role="separator" class="divider"></li>
                            <li>
                                <NavLink class="nav-link" href="organization-details">
                                    Organization Settings
                                </NavLink>
                            </li>
                        }
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" @onclick="SignOutClicked">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid fadeIn">
    <ul class="nav nav-pills">
        <li role="presentation"><NavLink href="inventory/consumption">Consumption</NavLink></li>
        <li role="presentation"><NavLink href="inventory/consumption-syncs">Consumption Syncs</NavLink></li>
        <li role="presentation" class="active"><NavLink href="inventory/items">Items</NavLink></li>
        <li role="presentation"><NavLink href="inventory/item-syncs">Item Syncs</NavLink></li>
    </ul>

    <hr />

    <p class="alert alert-info">
        These items are synced from QuickBooks Desktop Pro, Premier, and Enterprise 2002 and newer. Use the BRIZBEE Integration Utility to sync items from QuickBooks to BRIZBEE.
    </p>

    <!--Toolbar-->
    <div class="row row-toolbar">
        <div class="col-md-6">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" @onclick="@(e => RefreshItems())"><i class="fas fa-sync-alt" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!--List of Items-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-md-2">
                    <a href="javascript:void(0)" @onclick="@(e => ChangeSortBy("QBDInventoryItems/Name"))">
                        Name
                        @if (sortBy == "QBDInventoryItems/Name" && sortDirection == "ASC")
                        {
                            <span class="fa fa-caret-up"></span>
                        }
                        else if (sortBy == "QBDInventoryItems/Name" && sortDirection == "DESC")
                        {
                            <span class="fa fa-caret-down"></span>
                        }
                    </a>
                </th>
                <th class="col-md-2">
                    <a href="javascript:void(0)" @onclick="@(e => ChangeSortBy("QBDInventoryItems/ManufacturerPartNumber"))">
                        Part Number
                        @if (sortBy == "QBDInventoryItems/ManufacturerPartNumber" && sortDirection == "ASC")
                        {
                            <span class="fa fa-caret-up"></span>
                        }
                        else if (sortBy == "QBDInventoryItems/ManufacturerPartNumber" && sortDirection == "DESC")
                        {
                            <span class="fa fa-caret-down"></span>
                        }
                    </a>
                </th>
                <th class="col-md-2">
                    <a href="javascript:void(0)" @onclick="@(e => ChangeSortBy("QBDInventoryItems/BarCodeValue"))">
                        Bar Code
                        @if (sortBy == "QBDInventoryItems/BarCodeValue" && sortDirection == "ASC")
                        {
                            <span class="fa fa-caret-up"></span>
                        }
                        else if (sortBy == "QBDInventoryItems/BarCodeValue" && sortDirection == "DESC")
                        {
                            <span class="fa fa-caret-down"></span>
                        }
                    </a>
                </th>
                <th class="col-md-3">
                    <a href="javascript:void(0)" @onclick="@(e => ChangeSortBy("QBDInventoryItems/PurchaseDescription"))">
                        Purchase Description
                        @if (sortBy == "QBDInventoryItems/PurchaseDescription" && sortDirection == "ASC")
                        {
                            <span class="fa fa-caret-up"></span>
                        }
                        else if (sortBy == "QBDInventoryItems/PurchaseDescription" && sortDirection == "DESC")
                        {
                            <span class="fa fa-caret-down"></span>
                        }
                    </a>
                </th>
                <th class="col-md-3">
                    <a href="javascript:void(0)" @onclick="@(e => ChangeSortBy("QBDInventoryItems/SalesDescription"))">
                        Sales Description
                        @if (sortBy == "QBDInventoryItems/SalesDescription" && sortDirection == "ASC")
                        {
                            <span class="fa fa-caret-up"></span>
                        }
                        else if (sortBy == "QBDInventoryItems/SalesDescription" && sortDirection == "DESC")
                        {
                            <span class="fa fa-caret-down"></span>
                        }
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr class="fadeIn selectable">
                    <td><a href="javascript:void(0)">@item.Name</a></td>
                    <td><a href="javascript:void(0)">@item.ManufacturerPartNumber</a></td>
                    <td><a href="javascript:void(0)">@item.BarCodeValue</a></td>
                    <td><a href="javascript:void(0)">@formatDescription(item.PurchaseDescription)</a></td>
                    <td><a href="javascript:void(0)">@formatDescription(item.SalesDescription)</a></td>
                </tr>
            }
            @if (working)
            {
                <tr class="fadeIn">
                    <td colspan="5"><i class="fa fa-spinner fa-spin fa-fw"></i></td>
                </tr>
            }
            @if (!working && items.Count == 0)
            {
                <tr class="fadeIn">
                    <td colspan="5">You haven't added any inventory items</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            @if (itemsCount > pageSize)
            {
                <div class="pull-left" style="margin-right: 1rem;">
                    <button class="btn btn-sm btn-default pull-left" @onclick="PreviousPage"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                    <button class="btn btn-sm btn-default pull-left" @onclick="NextPage"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            }

            @if (itemsCount > 0 && !working)
            {
                <p class="form-control-static pull-left">@(itemsPageStart + 1) to @(itemsPageStart + pageSize < itemsCount ? itemsPageStart + pageSize : itemsCount) of @itemsCount</p>
            }
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public EventCallback SignOutClicked { get; set; }

    private bool working = false;
    private User currentUser;
    private List<QBDInventoryItem> items = new List<QBDInventoryItem>();
    private string sortBy = "QBDInventoryItems/Name";
    private string sortDirection = "ASC";
    private int pageSize = 20;
    private int skip = 0;
    private long itemsCount = 0;
    private int itemsPageStart = 0;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        // Subscribe to the events
        sharedService.OnChange += StateHasChanged;

        currentUser = sharedService.CurrentUser;

        await RefreshItems();

        dialogService.OnOpen += Open;
        dialogService.OnClose += Close;
    }

    public void Dispose()
    {
        // Unsubscribe to the events
        sharedService.OnChange -= StateHasChanged;
    }

    private async void NextPage(MouseEventArgs e)
    {
        itemsPageStart = itemsPageStart + pageSize;
        skip = itemsPageStart;
        await RefreshItems();
    }

    private async void PreviousPage(MouseEventArgs e)
    {
        itemsPageStart = itemsPageStart - pageSize;
        skip = itemsPageStart;
        await RefreshItems();
    }

    private void Open(string title, Type type, Dictionary<string, object> parameters, DialogOptions options)
    {
        Console.WriteLine("Dialog opened");
    }

    private async void Close(dynamic result)
    {
        Console.WriteLine($"Dialog closed with result: {result}");
        await RefreshItems();
    }

    private async System.Threading.Tasks.Task RefreshItems()
    {
        working = true;
        items.Clear();
        var result = await qbdInventoryItemService.GetQBDInventoryItemsAsync(pageSize, skip, sortBy, sortDirection);
        items = result.Item1;
        itemsCount = result.Item2.GetValueOrDefault();
        working = false;
        StateHasChanged();
    }

    private async void ChangeSortBy(string column)
    {
        sortBy = column;

        if (sortDirection == "ASC")
        {
            sortDirection = "DESC";
        }
        else
        {
            sortDirection = "ASC";
        }

        await RefreshItems();
    }

    private string formatDescription(string description)
    {
        if (string.IsNullOrEmpty(description)) return "";

        if (description.Length > 27)
            return $"{description.Substring(0, 26)}...";
        else
            return description;
    }
}